@font-face {
	font-family: RubikMaze;
	src: url("font/RubikMaze-Regular.ttf");
}

body {
	margin: 0;
	font-family: 'RubikMaze', Courier, monospace;
}
button {
	font-family: 'RubikMaze', Courier, monospace;
}
#game-container {
	width: 100vw;
	height: 100vh;
	background-image: url(https://lh3.googleusercontent.com/ms9c5tm7zmw1BxcaOjlhGZ7NYdd-I4SobLdTOrB1aVNhDg0rlsLdn0_xZpjQZbZFXH5i4qVJMKeBeDnf9IlHigF1s6lVo05L3XlH-9otz6VJEqlO9OiIetQgoIqKDeo0dLiqDPL5AIpdzVKrnzBf53Gbk9AK9seJApeEq2PBT2MnVB1RZTVMPKNrH7cBpF0W8glGSh_exln9kbdaZpimkNGpMSZwfCJJt2seTmB3nSkhGmvMrDZyLPJpkn1jyMzlESuXrgzDMyNffF57cM1pk6i-Ppyzv1VdvOTXIy1aX1NdUVjlxbqDmlSDSgoI26MKF4rr2Fb0sTwnj7xd98P_McvHao_-amRIF1P9RUtbKaJut_RM3XmG24VUCjWrgFpCVk2oo05V-wUeHNS5Z0pbEpMp2qeIMShMPf2HDR6u6Tvxdkd6qWMMcNUNwAOjdIBEXx71e-aDif3nHY6ZfE3BZe3G3geVU6rj1mR9RHi7qAgCDKQgNB96LR29b4yMChwd0aWy8Ssjj_rtZKJ8CYXAwpY0wnYisvbJ05m6IQy4MJ-BSj4vWal4Fri9LjychnvZQapwkFEcNc_H7qSiuif_BoPGCnCdHmHKXPZed1-Ey37RZUd2UXlC2FjRHrUybl4NTg8GaQQ2rp40PDg7yTIq55HXP3aGAnNwU32tmdPe_CuRh2v7xOT29Egg8_E3W_RCcEBbDN9TUzXuUZ5EbEXOPNr_EV0Mlgsf29kyXOyJSk8Dcy_RFrVAQC5-mSTzZrAxwbP1tBZHs4jS3CZceV_HwhOV8GrGamucvw=w1259-h944-no?authuser=0);
	background-size: 100vw 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

#title {
	position: absolute;
	top: 20px;
	font-size: 60px;
	margin: 0;
}

#button {
	background: green;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
}

#button:hover 	 {
	cursor: pointer;
}

#input {
    font-size: 120px;
    padding: 5px;
    width: 240px;
    border: none;
    border-radius: 50px;
	text-align: center;
}

#message {
	font-size: 20px;
    font-weight: bolder;
    margin-top: 80px;
}

#heihei {
	position: fixed;
	right: 0;
	bottom: 0;
	color: transparent;
}

#heihei::selection {
	color: black;
}

#new-game {
	display: none;
	border-radius: 50%;
	font-size: 40px;
	border: none;
	background-color: green;
	width: 200px;
	height: 200px;
	color: white;
}
#new-game:hover {
	cursor: pointer;
}