@font-face {
	font-family: RubikMaze;
	src: url("font/RubikMaze-Regular.ttf");
}

body {
	margin: 0;
	font-family: 'RubikMaze', Courier, monospace;
}
button {
	font-family: 'RubikMaze', Courier, monospace;
}
#game-container {
	width: 100vw;
	height: 100vh;
	background-image: url("assets/bg.jpeg");
	background-size: 100vw 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

#title {
	position: absolute;
	top: 20px;
	font-size: 60px;
	margin: 0;
}

#button {
	background: green;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
}

#button:hover 	 {
	cursor: pointer;
}

#input {
    font-size: 120px;
    padding: 5px;
    width: 240px;
    border: none;
    border-radius: 50px;
	text-align: center;
}

#message {
	font-size: 20px;
    font-weight: bolder;
    margin-top: 80px;
}

#heihei {
	position: fixed;
	right: 0;
	bottom: 0;
	color: transparent;
}

#heihei::selection {
	color: black;
}

#new-game {
	display: none;
	border-radius: 50%;
	font-size: 40px;
	border: none;
	background-color: green;
	width: 200px;
	height: 200px;
	color: white;
}
#new-game:hover {
	cursor: pointer;
}